<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewBag.Discription">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/images/ImageSite/logo.ico" type="image/gif" sizes="16x16">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap" rel="stylesheet">

    @Styles.Render("~/Content/UlAssets/css/bootstrap.min.css")
    @Styles.Render("~/Content/UlAssets/css/bootstrap-icons.css")
    @Styles.Render("~/Content/UlAssets/css/vegas.min.css")
    @Styles.Render("~/Content/UlAssets/css/tooplate-barista.css")
    @Styles.Render("~/Content/toast/css/jquery.toast.css")
</head>

<body>

<main>
    @if (ViewBag.Page == "indexPage")
    {
        @Html.Partial("Navbar")
    }
    else
    {
        @Html.Partial("NavbarOther")
    }
    @RenderSection("Welcome", false)
    @RenderSection("About", false)
    @RenderSection("Groups", false)
    @RenderSection("Portfolio", false)
    @RenderSection("Blog", false)
    @RenderBody()
    @RenderSection("Contact", false)
    @Html.Partial("Footer")
</main>
<!-- JAVASCRIPT FILES -->

@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Content/UlAssets/js/bootstrap.min.js")
@Scripts.Render("~/Content/UlAssets/js/jquery.sticky.js")
@Scripts.Render("~/Content/UlAssets/js/vegas.min.js")
@Scripts.Render("~/Content/UlAssets/js/custom.js")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
@Scripts.Render("~/Content/toast/js/jquery.toast.js")

@RenderSection("scripts", required: false)
</body>
</html>