@model MySite.Models.Model.About

@{
    ViewBag.Title = "ویرایش درباره ما";
}
<div class="text-center m-3" dir="rtl">
    @using (Html.BeginForm("Edit", "About", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger text-center " })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.FileName)
        <div class="form-horizontal">
            <div class="text-center">
                <div class="form-group">
                    @Html.LabelFor(model => model.FileTitle, htmlAttributes: new { @class = "control-label  text-dark" })
                    <hr />
                    @Html.EditorFor(model => model.FileTitle, new { htmlAttributes = new { @class = "form-control  bg-light  border-light" } })
                    @Html.ValidationMessageFor(model => model.FileTitle, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label  text-dark" })
                    <hr />
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control  bg-light  border-light" } })
                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                </div>
                <p>
                    <button class="btn btn-light btn-block" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                        انتخاب ویدیو
                        <i class="la la-caret-square-o-down ml-5 float-left"></i>
                    </button>
                </p>
                <div class="collapse show" id="collapse1">
                    <div class="card card-body">
                        <div class="form-group">
                            <div>
                                <div class="mb-3">
                                    <input type="file" name="fileUpload" id="FileUpload" class="bg-light" />
                                </div>
                                <div>
                                    <video style="width:50%;height: 500px" autoplay controls muted>
                                        <source src="~/images/VideoProject/@Model.FileName" id="FileShow" type="video/mp4">
                                    </video>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label text-dark" })
                    <hr />
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control  border-light" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-outline-success waves-effect waves-green">ذخیره</button>
                    <a href="@Url.Action("Index")" class="btn btn-outline-danger waves-effect waves-green">بازگشت</a>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>
        CKEDITOR.replace('Description');
        $('document').ready(function () {
            $("#FileUpload").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#FileShow').attr('src', e.target.result);
                        $('video')[0].load();
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>

}

<style>
    input[type="file"]::file-selector-button {
        border: 2px solid #2863EC;
        padding: 0.2em 0.4em;
        border-radius: 0.2em;
        background-color: #2863EC;
        transition: 1s;
        color: #ffff
    }
</style>